server {
    listen 80;
    server_name cms.cging.co www.cms.cging.co;
    return 301 https://cms.cging.co$request_uri; # Redirect HTTP to HTTPS
}

server {
    include /etc/nginx/mime.types;

    listen 443 ssl; # managed by Certbot
    server_name cms.cging.co;

    root /var/www/sanity;
    index index.html;

    types {
        application/javascript mjs;
    }

    location / {
        try_files $uri /index.html;

        add_header Access-Control-Allow-Origin https://cms.cging.co;
        add_header Access-Control-Allow-Methods 'GET, POST, OPTIONS';
        add_header Access-Control-Allow-Headers 'Origin, Content-Type, Accept, Authorization';
        add_header Access-Control-Allow-Credentials true;
    }

    # Ensure JS files used as modules have the correct MIME type
    location ~* \.mjs$ {
        add_header Content-Type application/javascript;
    }

    # Handle JSON files
    location ~* \.json$ {
        add_header Content-Type application/json;
    }

    ssl_certificate /etc/letsencrypt/live/cms.cging.co/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/cms.cging.co/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    error_page 404 /index.html;
}